@import "tailwindcss";
@import "@navikt/ds-css";
@import "@navikt/bidrag-ui-common/styles/index.css";

.navds-tabs__tablist-wrapper {
  width: max-content;
}
#root {
  height: inherit;
}
body {
  margin: 0;
  background-color: #fff;
  height: 100vh;
}
.mermaid svg {
  height: inherit;
}